body, ul, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* max-width: 1200px; */
}

.profile {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info h1 {
    font-size: 1.5rem;
    color: #333;
}

.profile-info h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #666;
}

.profile-info ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
}

.skills {
    margin-top: 20px;
}

.skills h2 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 15px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skills-list ul {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #555;
}

.projects {
    margin-top: 20px;
}

.project {
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.project-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.project-info {
    padding: 10px;
}

.project-info h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1rem;
    color: #555;
}