/* https://coolors.co/1e212b-4d8b31-ffc800-ff8427-ffffff */

body, ul, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1E212B;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.profile {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info h1 {
    font-size: 1.5rem;
    color: #FF8427;
}

.profile-info h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #4D8B31;
}

.profile-info ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
    color: #1E212B;
}

.skills {
    margin-top: 20px;
}

.skills h2 {
    font-size: 1.3rem;
    color: #4D8B31;
    margin-bottom: 15px;
    margin-left: 170px;
}

.skills-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.skills-list ul {
    list-style-type: none;
    padding: 0;
    flex: 1;
    max-width: 200px;
}

.skills-list li {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #1E212B;
}

.projects {
    margin-top: 20px;
}

.project-link {
    text-decoration: none;
}

.project {
    border: 2px solid #1E212B;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.project-info {
    padding: 10px;
}

.project-info h3 {
    font-size: 1.2rem;
    color: #FF8427;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1rem;
    color: #1E212B;
}